In [ ]:
#Creating List
list_variable=[1,2,3,4]
print(list_variable)

[1, 2, 3, 4]

In [ ]:
#Checking for mutable
list_variable[2]=5
print(list_variable)

[1, 2, 5, 4]

In [ ]:
#Creating Tuple
tupple_variable=(1,2,3,4)
print(tupple_variable)

(1, 2, 3, 4)

In [ ]:
tupple_variable[2]=5
print(tupple_variable)

TypeError: 'tuple' object does not support item assignment

In [ ]:
more_number=tupple_variable+ (8,9)
print(more_number)

(1, 2, 3, 4, 8, 9)

In [ ]:
more_number.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Creating Set
set1= {1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
set1.add(5)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1.remove(5)
print(set1)

{1, 2, 3, 4}

In [ ]:
set1.clear()
print(set1)

set()

In [ ]:
set_1= {1,2,3,4}
set_2= {4,5,6,7}

union= set_1.union(set_2)
print(union)
union1= set_1 | set_2 |
print(union1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
intersection = set_1.intersection(set_2)
print(intersection)

intersection1= set_1 & set_2
print(intersection1)

{4}
{4}

In [ ]:
difference = set_1 - set_2
print(difference)

difference1= set_1.difference(set_2)
print(difference1)

{1, 2, 3}
{1, 2, 3}

In [ ]:
syemtric_difference = set_1 ^ set_2
print(syemtric_difference)

syemtric_difference1= set_1.symmetric_difference(set_2)
print(syemtric_difference1)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [ ]:
A={1,2,3,4,5,6,7,8,9,10}
B={5,6,7,8,9,10,11,12,13,14,15}
C= {6,7,8,9,10}

union = A | B| C
print(union)

union1= A.union(B,C)
print(union1)

union2= A.union(B)
final_union= union2.union(C)
print(final_union)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [ ]:
dict1= {
    'Name': 'Ahmed',
    'Age': 30,
    'City': 'Sukkur'
}

print(dict1)

{'Name': 'Ahmed'}