In [1]:
# Creating Dictionary
dictionary = {
    'Name' : 'Ahmed',
    'Age' : 18,
    'City' : 'Sukkur'
}
print(dictionary)

{'Name': 'Ahmed', 'Age': 18, 'City': 'Sukkur'}

In [2]:
dictionary['Qualification']= 'Masters'
print(dictionary)

{'Name': 'Ahmed', 'Age': 18, 'City': 'Sukkur', 'Qualification': 'Masters'}

In [3]:
#Deleting Column
del dictionary['Qualification']
print(dictionary)

{'Name': 'Ahmed', 'Age': 18, 'City': 'Sukkur'}

In [4]:
print(dictionary['Name'])

Ahmed

In [5]:
phone = {
    'ahmed' : '0307',
    'hunanin' : '0308',
    'rehan' : ['03121', '0315-281'],
    'ehtisham' : '0385',
}
print(phone)

{'ahmed': '0307', 'hunanin': '0308', 'rehan': ['03121', '0315-281'], 'ehtisham': '0385'}

In [6]:
print(phone['rehan'])

['03121', '0315-281']

In [7]:
new_dictionary ={
    'Name' : ['rehan', 'adnan', 'ahsan', 'rubab']
}
print(new_dictionary)

{'Name': ['rehan', 'adnan', 'ahsan', 'rubab']}

In [8]:
dictionary = {
    'Name' : 'Ahmed',
    'Age' : 18,
    'City' : 'Sukkur'
}
print(dictionary)

{'Name': 'Ahmed', 'Age': 18, 'City': 'Sukkur'}

In [9]:
print(dictionary.keys())
print(dictionary.values())

dict_keys(['Name', 'Age', 'City'])
dict_values(['Ahmed', 18, 'Sukkur'])

In [10]:
dictionary = {
    'Name' : ['Ahmed','bilal','rubab'],
    'Age' : [15,18,20,500],
    'City' : 'Sukkur'
}
print(dictionary)

{'Name': ['Ahmed', 'bilal', 'rubab'], 'Age': [15, 18, 20, 500], 'City': 'Sukkur'}

In [11]:
#Searching For maximum number from age
maximum = max(dictionary['Age'])
print(maximum)

500

In [12]:
dictionary_1= {
    'Name': ['ahmed', 'bilal', 'ahsan'],
    'Age': [15, 18, 20],
    'City': 'Sukkur'
}
print(dictionary_1)

{'Name': ['ahmed', 'bilal', 'ahsan'], 'Age': [15, 18, 20], 'City': 'Sukkur'}

In [13]:
dictionary_2 = {
    'Qualification' : 'Masters',
    'Subject' : ['English', 'Math', 'Data Science']
}
print(dictionary_2)

{'Qualification': 'Masters', 'Subject': ['English', 'Math', 'Data Science']}

In [14]:
#Combining 2 dictionaries
combining_dictionaries = dictionary_1 | dictionary_2
print(combining_dictionaries)

{'Name': ['ahmed', 'bilal', 'ahsan'], 'Age': [15, 18, 20], 'City': 'Sukkur', 'Qualification': 'Masters', 'Subject': ['English', 'Math', 'Data Science']}

In [15]:
#Comprehensions
square = {x: x**3 for x in range(1,16)}
print(square)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}

In [16]:
#Writing and Reading File
with open ('example.txt', 'w') as file:
  file.write(str(square))

In [17]:
with open ('example.txt', 'r') as file:
  content= file.read()
  print(content)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000, 11: 1331, 12: 1728, 13: 2197, 14: 2744, 15: 3375}

In [18]:
import pandas as pd
dictionary ={
    'Name': ['ahmed', 'bilal', 'saeed', 'k_ali'],
    'Age': [15, 18, 20, 25],
    'Marks': [80,70,60,50]
}
print(dictionary)

{'Name': ['ahmed', 'bilal', 'saeed', 'k_ali'], 'Age': [15, 18, 20, 25], 'Marks': [80, 70, 60, 50]}

In [19]:
df=pd.DataFrame(dictionary)
print(df)

    Name  Age  Marks
0  ahmed   15     80
1  bilal   18     70
2  saeed   20     60
3  k_ali   25     50

In [20]:
df['City']=['Sukkur','Rorhi','Karachi','Larkana']
print(df)

    Name  Age  Marks     City
0  ahmed   15     80   Sukkur
1  bilal   18     70    Rorhi
2  saeed   20     60  Karachi
3  k_ali   25     50  Larkana

In [21]:
df=df.drop(columns=['City'])
print(df)

    Name  Age  Marks
0  ahmed   15     80
1  bilal   18     70
2  saeed   20     60
3  k_ali   25     50

In [22]:
#Filtering on the basis Age
filterd= df[df['Age']>18][['Name','Age']]
print(filterd)

    Name  Age
2  saeed   20
3  k_ali   25

In [33]:
fltr = df.loc[df['Age'] == 18, ['Name', 'Age']]
fltr

    Name  Age
1  bilal   18