<h1>Data Science Course Sukkur IBA University</h1>
<h2>Nadir Ali Khan | Date: 18,11,2024</h2>

In [1]:
print('Week 1 Day 1')

Week 1 Day 1

In [25]:
name = 'Nadir Ali Khan'
age = 20
city = 'Sukkur, Pakistan'
marks = 834
qualification = 'HSC-II'
description = 'I am the best, and The data scientist'

print(f'My Name is {name}')
print(f'I am {age} Years Old')
print(f'I am from {city}')
print(f'My Marks are {marks} in {qualification}')
print(description)

My Name is Nadir Ali Khan
I am 20 Years Old
I am from Sukkur, Pakistan
My Marks are 834 in HSC-II
I am the best, and The data scientist

In [26]:
name = "Nadir"
age = 20
marks = 834
print(f"Name: {name}, Age: {age}, Marks: {marks}")

Name: Nadir, Age: 20, Marks: 834

In [27]:
name = input('Enter Your Name: ')
age = int(input('Enter your age: '))
print(f'Hello, {name}! You are {age} years old.')

Hello, Nadir Ali! You are 20 years old.

In [ ]:
# First Week is For Python and then we'll move to the Data Science Course
# This is the first week of the course, so we'll start  the basics of Pythonwith