In [1]:
print('Week 2 Day 3')

Week 2 Day 3

In [2]:
#  Today we are going to learn about dictionary
#  A dictionary is a collection of key-value pairs
#  Each key is unique and maps to a specific value

dic = {
    'name': 'Nadir',
    'age': 20,
    'city': 'Sukkur'
}

# Accessing values using keys
print(dic['name'])  # Output: Nadir
print(dic['age'])   # Output: 20
print(dic['city'])  # Output: Sukkur

Nadir
20
Sukkur

In [4]:
#  adding values to the dictionary
dic['marks'] = 834
print(dic)

dic['Qualification'] = 'Intermediate'
print(dic)

{'name': 'Nadir', 'age': 20, 'city': 'Sukkur', 'marks': 834}
{'name': 'Nadir', 'age': 20, 'city': 'Sukkur', 'marks': 834, 'Qualification': 'Intermediate'}

In [12]:
phone = {
    'Nadir': 123456,
    'Ali': 234567,
    'Faraz': 345678,
    'Hassan': 456789,
    'Ubaid': 567890
}

name = input('Enter name to search number:').title()

if name in phone:
    print(phone[name])
else:
    print('Name not found')

345678

In [20]:
marks = {
    'Nadir': 90,
    'Ali': 80,
    'Faraz': 70,
    'Hassan': 60,
    'Ubaid': 50
}


#  Finding Maximum Marks
max_marks = max(marks.values())

# ALso print name
max_marks_name = [name for name, marks in marks.items() if marks == max_marks]
print(f'Maximum Marks: {max_marks}')
print(f'Maximum Marks Name: {max_marks_name}')

Maximum Marks: 90
Maximum Marks Name: ['Nadir']

In [25]:
min_marks = min(marks.values())
min_marks
min_marks_name = [name for name, marks in marks.items() if marks == min_marks]
print(f'Minimum Marks: {min_marks}')
print(f'Minimum Marks Name: {min_marks_name}')

Minimum Marks: 50
Minimum Marks Name: ['Ubaid']

In [ ]:
#  Combingng two dictionaries

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

d3 = d1 | d2 
print(d3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
d3 = {**d1, **d2}
d3

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
for value in d1.values():
    print(pow(value, 3))

1
8

In [52]:
# creating a file and saving data into it 
with open('/home/nak/Data-Science-Course-IBA/data/data.txt', 'w') as file:
    file.write('We are learning Data Science Course')
    file.close

# reading data from a file
with open('/home/nak/Data-Science-Course-IBA/data/data.txt', 'r') as file:
    data = file.read()
    print(data)

We are learning Data Science Course