In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


df = sns.load_dataset('titanic')

df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
X = df[['pclass', 'age', 'fare']]
y = df['survived']

In [4]:
X.isnull().sum()

pclass      0
age       177
fare        0
dtype: int64

In [5]:
X['age'].fillna(X['age'].mean(), inplace=True)

/tmp/ipykernel_11057/66500479.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['age'].fillna(X['age'].mean(), inplace=True)
/tmp/ipykernel_11057/66500479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['age'].fillna(X['age'].mean(), inplace=True)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

acc = accuracy_score(y_test, y_pred)

cr = classification_report(y_test, y_pred)

print(f"Accuracy: {acc}")
print(f"Classification Report:\n{cr}")

Accuracy: 0.7318435754189944
Classification Report:
              precision    recall  f1-score   support

           0       0.74      0.83      0.78       105
           1       0.71      0.59      0.65        74

    accuracy                           0.73       179
   macro avg       0.73      0.71      0.72       179
weighted avg       0.73      0.73      0.73       179

In [7]:
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier(n_estimators=50, random_state=42)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

acc = accuracy_score(y_test, y_pred)

cr = classification_report(y_test, y_pred)

print(f"Accuracy: {acc}")
print(f"Classification Report:\n{cr}")

Accuracy: 0.7150837988826816
Classification Report:
              precision    recall  f1-score   support

           0       0.69      0.93      0.79       105
           1       0.81      0.41      0.54        74

    accuracy                           0.72       179
   macro avg       0.75      0.67      0.67       179
weighted avg       0.74      0.72      0.69       179